In [2]:
import pandas as pd
import numpy as np
import matplotlib as ml

In [3]:
sample = pd.read_csv("/Users/paramjaswal/Desktop/HousePrediction/Data/sample_submission.csv")
sample

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]

In [4]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         1459 non-null   int64
 1   SalePrice  1459 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 22.9 KB

In [5]:
sample.describe()

                Id      SalePrice
count  1459.000000    1459.000000
mean   2190.000000  179183.918243
std     421.321334   16518.303051
min    1461.000000  135751.318893
25%    1825.500000  168703.011202
50%    2190.000000  179208.665698
75%    2554.500000  186789.409363
max    2919.000000  281643.976117

In [7]:
sample.columns

Index(['Id', 'SalePrice'], dtype='object')

In [8]:
train = pd.read_csv("/Users/paramjaswal/Desktop/HousePrediction/Data/train.csv")
test = pd.read_csv("/Users/paramjaswal/Desktop/HousePrediction/Data/test.csv")